* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('image/keindahan-alam-di-indonesia-1.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTAINER */
.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* BOX */
.login-box {
  background: rgba(255,255,255,0.95);
  padding: 2rem;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  animation: fadeIn 0.8s ease;
}

.login-box h2 {
  margin-bottom: 0.5rem;
  color: #2f3e2e;
}

.login-box p {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  color: #555;
}

/* INPUT */
.input-group {
  text-align: left;
  margin-bottom: 1rem;
}

.input-group label {
  font-size: 0.85rem;
}

.input-group input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.input-group input:focus {
  border-color: #6aa84f;
}

/* BUTTON */
button {
  width: 100%;
  padding: 10px;
  background: #6aa84f;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #3d6b35;
}

/* LINK */
.login-box a {
  display: block;
  margin-top: 1rem;
  font-size: 0.85rem;
  color: #3d6b35;
}

/* ANIMASI */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}